<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid">
	     <div class="row">
		       <div class="col-md-3" style="background-color:#F8FBF9">
             <img height="150" width="150" src="logo.jpg" alt="" class="rounded-circle" style="margin: auto; display: block">
             <br/>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="#">Inicio</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index3.html">Ingresos y Egresos</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457" >
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index4.html">Usuarios</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index5.html">Empresas</a>
             </button>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
		       </div>
		       <div class="col-md-9" style="background-color: #EBEDEB ">
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <div class="row" style="display: flex; align-items: center; height: 300px;">
               <div class="col-md-4">
                 <button type="button" name="button" class="btn btn-success btn-block btn-lg" style="height: 150px; font: 12px; background-color:#3DF457">
                   <a class="text-center" style="font-size:25px; font-family: fantasy; color: #31271A" href="index6.html">Sistema de gestión de <br/>ingresos y gastos</a>
                 </button>
               </div>
               <div class="col-md-4">
                 <button type="button" name="button" class="btn btn-success btn-block btn-lg" style="height: 150px; font: 12px;  background-color:#3DF457">
                   <a class="text-center" style="font-size:25px; font-family: fantasy; color: #31271A" href="index7.html">Sistema de gestión de <br/>usuarios</a>
                 </button>
               </div>
               <div class="col-md-4">
                 <button type="button" name="button" class="btn btn-success btn-block btn-lg" style="height: 150px; font: 12px;  background-color:#3DF457">
                   <a class="text-center" style="font-size:25px; font-family: fantasy; color: #31271A" href="index8.html">Sistema de gestión de <br/>empresas</a>
                 </button>
               </div>
             </div>
		       </div>
	     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
