<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

<!-- crear un nuevo usuario -->

  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <body>
    <div class="container-fluid">
	     <div class="row">
		       <div class="col-md-3" style="background-color:#F8FBF9">
             <img height="150" width="150" src="logo.jpg" alt="" class="rounded-circle" style="margin: auto; display: block">
             <br/>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index2.html">Inicio</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index3.html">Ingresos y Egresos</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457" >
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index4.html">Usuarios</a>
             </button>
             <br/>
             <br/>
             <button type="button" name="button" class="btn btn-success btn-block" style="background-color: #3DF457">
               <a class="text-center" style="font-size:18px; font-family: fantasy; color: #31271A" href="index5.html">Empresas</a>
             </button>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
             <br/>
		       </div>
           <div class="col-md-9" style="background-color:#CFD1CF">
             <h3>
       				<p class="text-center" style="font-size:20px; font-family: fantasy; color: #31271A"><br/>Sistema de Gestión de Ingresos y Gastos</p>
       			</h3>
            <br/>
            <br/>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="background-color:#C4EEC4 ; font-family: serif ">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index8.html" style="background-color:#C4EEC4 ; font-family: serif ">Empresas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index6.html" style="background-color:#C4EEC4 ; font-family: serif ">Ingresos y Egresos</a>
              </li>
            </ul>
            <br/>
            <br/>
            <form role="form" style="width:450px; margin:auto; display:block; background-color:#E5EAE5 ">
              <h4 class="text-center">Nuevo Usuario</h4>
              <br/>
              <div class="form-group; text-center">
                <label for="#" style="font-size:18px; font-family:serif; color: #31271A">
                  Nombre
                </label>
                <br/>
                <input type="text" class="form-center" id="#" />
              </div>
              <br/>
              <div class="form-group; text-center">
                <label for="#" style="font-size:18px; font-family:serif; color: #31271A">
                  Correo
                </label>
                <br/>
                <input type="email" class="form-center" id="#" />
              </div>
              <br/>
              <div class="form-group; text-center">
                <label for="#" style="font-size:18px; font-family:serif; color: #31271A">
                  Rol
                </label>
                <br/>
                <input type="text" class="form-center" id="#" />
              </div>
              <br/>
              <button type="button" name="button" class="btn btn-success btn-block btn-sm">
                Ingresar
              </button>
              <br/>
            </form>
          </div>

      </div>
    </div>
